# 🚫 Carpetas grandes o generadas automáticamente
node_modules
dist
dist-ssr

# 🔒 Archivos sensibles
.env
*.pem
*.key

# 🧹 Archivos temporales y de sistema
*.log
.DS_Store

# 🛠 Configuración de editores
.vscode
.idea

# 📦 Control de versiones
.git
.gitignore
.husky

# 📄 Otros innecesarios para el build
README.md
Dockerfile
docker-compose.yml
*.tsbuildinfo
